#form{
    margin: 10px;
    padding: 10px;
    text-align: end;
font-size: larger;
}
main{
    background-color: transparent;
    border: 3px solid #000000;
    border-radius: 5px;
display: flex;
gap: 258px;
}
#Sign{
    background-color: blueviolet;
    width: 1350px;
    height: 40px;
    align-items: center;
    text-align: center;
}
#Sign:hover{
    background-color: rgb(20, 181, 187);
    transition: 0.5s;
}
#img{
    width: 530px;
    height: 530px;
}
body{
    background-image: linear-gradient(315deg, rgba(25, 136, 247, 1) 0%, rgba(255, 236, 112, 1) 49%, rgba(21, 249, 59, 1) 100%);
}
a{
    font-size: 20px;
}